/* Try and rely on CSS grid for the layout of this project! */

:root {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    --main-pink: rgb(240, 100, 135);
    --card-accent: rgb(247, 193, 44);
    --grey-text: rgb(59, 58, 58);
    --white: rgb(255, 247, 250);
    --grey-accent: rgb(218, 214, 215);
    --drop-shadow: rgb(172, 155, 160);
    --black: rgb(15, 15, 15);

}

body {
    background: var(--grey-accent);
    color: var(--black);
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}


body, 
button, 
p,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    border: none;
}

img {
    border-radius: 50%;
}

.page-container,
.top-header,
.side-nav,
.content-area,
.mini-searchbar,
.notification-area,
.lower-toolbar,
.profile-area,
.projects-area,
.announcements,
.card,
.trending-wrapper {
    display: grid;
}

.page-container {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(170px, 15%) minmax(33%, 100%);
}


/* Header area */
.top-header {
    background: var(--white);
    box-shadow: var(--drop-shadow) 4px 4px 4px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
}
.mini-searchbar {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1.2rem;
}

.search-area {
    display: flex;
    align-content: center;
    gap: 1rem;
}

.search-area > input {
    font-family: inherit;
    min-width: 85%;
    height: 1.8rem;
    border-radius: 20px;
    border: none;
    background: rgb(221, 216, 216);
    padding-left: 0.8rem;
    font-size: 18px;
}

.search-icon::before {
    content:"";
    display: inline-block;
    mask: url(./imgs/magnify.svg) no-repeat;
    mask-size: cover;
    background: var(--black);
    width: 25px;
    height: 25px;
}
.notification-area {
    gap: 0.5rem;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
}

.notif-icon {
    display: inline-block;
    mask: url(./imgs/bell-outline.svg) no-repeat;
    mask-size:cover;
    background: var(--black);
    width: 25px;
    height: 25px;
    justify-self: right;
}

.notification-area .profile-picture {
    width: 40px;
    height: 40px;
    background: var(--main-pink);
}

.lower-toolbar {
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.profile-area {
    grid-template-columns: 100px minmax(100px, 1fr);
    gap:1rem;
    padding-left: 1.2rem;
    
}

.profile-area .profile-picture {
    width: 60px;
    height: 60px;
    background: var(--main-pink);
    justify-self: right;
}

.button-area {
    justify-self: start;
}

.button-area > * {
    min-width: 90px;
    font-weight: 700;
    padding: 1em;
    border-radius: 20px;
    margin: 1rem;
    background: var(--main-pink);
    color: var(--white);
}

button:hover {
    background: var(--card-accent);
}

a:hover {
    color: var(--card-accent);
}

/* Sidebar area */
.side-nav {
    grid-column: 1;
    grid-row: 1 / 3;
    grid-template-rows: 6% 27% 20%;
    gap: 1rem;
    background: var(--main-pink);
    color: var(--white);
    font-weight: 700;
    font-size: 1.2em;
}
.logo-area {
    grid-row: 1;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0.4em;
}
.logo {
    mask: url(./imgs/view-dashboard.svg) no-repeat;
    mask-size: cover;
    background: var(--white);
    height: 50px;
    width: 50px;
}

.nav-area {
    grid-row: 2;
}

.settings-area {
    grid-row: 3;
}

li {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 4px;
}

li::before {
    content: "";
    display: inline-block;
    mask-size: cover;
    background: var(--white);
    width: 25px;
    height: 25px;
}

li:hover::before {
    background: var(--card-accent);
}

.nav-area li:nth-child(1)::before {
    mask: url(./imgs/home.svg) no-repeat;
}

.nav-area li:nth-child(2)::before {
    mask: url(./imgs/account-details.svg) no-repeat;
}

.nav-area li:nth-child(3)::before {
    mask: url(./imgs/message-reply.svg) no-repeat;
}

.nav-area li:nth-child(4)::before {
    mask: url(./imgs/clock-time-three.svg) no-repeat;
}

.nav-area li:nth-child(5)::before {
    mask: url(./imgs/note-multiple.svg) no-repeat;
}

.nav-area li:nth-child(6)::before {
    mask: url(./imgs/account-group.svg) no-repeat;
}

.settings-area li:nth-child(1)::before {
    mask: url(./imgs/cog.svg) no-repeat;
}

.settings-area li:nth-child(2)::before {
    mask: url(./imgs/help-circle.svg) no-repeat;
}

.settings-area li:nth-child(3)::before {
    mask: url(./imgs/shield-check.svg) no-repeat;
}


/* Content area */
.content-area {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5ch minmax(150px, 420px) 5ch minmax(150px, 1fr);
    gap: 0.5rem 0;
    padding: 1rem;
}

.area-title {
    font-weight: 700;
    font-size: 18px;
    align-self: center;
}

.projects-area {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(150px, 45%));
    grid-row: 2;
}

.card {
    background: var(--white);
    text-align: left;
    border-radius: 8px;
    padding: 1rem;
    min-height: 8rem;
    box-shadow: var(--drop-shadow) 4px 4px 4px;
    border-left: var(--card-accent) 0.5rem solid;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    grid-template-rows: 1fr; 
    gap: 0 0.5rem;
    
}
.content-area p[class="title"] {
    font-size: 18px;
    font-weight: 700;
    grid-column: 1;
}

.content-area p[class="text"] {
    font-size: 12px;
    font-weight: 500;
    color: var(--grey-text);
    grid-column: 1;
    grid-row: 2;
}

a, .project-icons {
    grid-row: 3;
    justify-self: right;
}

.project-icons {
    display: inline-block;
    mask-size: cover;
    background: var(--black);
    height: 25px;
    width: 25px;
}

.project-icons:hover {
    background: var(--card-accent);
}

.project-icons.star {
    mask: url(./imgs/star-plus.svg) no-repeat;
    
}

.project-icons.add {
    mask: url(./imgs/playlist-plus.svg) no-repeat;

}

.project-icons.share {
    mask: url(./imgs/share-variant-outline.svg) no-repeat;
}

/* Announcements */

.area-title.announcements {
    grid-row: 1;
}
.announcements {
    grid-column: 2 / 3;
    grid-row: 2;
}

.announcements-wrapper {
    background:var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--drop-shadow) 4px 4px 4px;
}
.announcements p[class="title"] {
    font-size: 1rem;
}
.announcements p[class="info"] {
    font-size: 14px;
    color: var(--grey-text);
}
hr {
    margin-top: 1em;
}

.area-title.trending {
    grid-row: 3 / 4;
}

.trending {
    grid-column: 2;
    grid-row: 4;
}

.trending-wrapper {
    background: var(--white);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--drop-shadow) 4px 4px 4px;
    gap: 1rem;
}

.trending-card {
    display: grid;
    grid-template-columns: minmax(25px, 75px) 16ch;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    
}

.trending-card .profile-picture {
    height: 50px;
    width: 50px;
    background: var(--main-pink);
}
.trending-card p {
    grid-column: 2;
    font-size: 14px;
}

.trending-card p.username {
    font-weight: 700;
}
p[class="user-title"] {
    color: var(--grey-text);
}